@charset "UTF-8";
/* 
CSS Document
 
By Cassandra Morath

vfw project 2
*/
<div style="overflow:auto; height:250px; width:300px;">

@font-face{
	font-family: "New Times Roman", Times, serif, Arial, Helvetica, sans-serif, "Comic Sans MS", cursive;
	font-weight: normal;
	font-style: normal;
}
body{
	text-align: center;
	margin: 0;
	padding: 25px 0px 0px 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	line-height: normal;
}
html,body{
	
}

h1, h2, h3, h4, h5, h6, p, div, ul{
	margin:20px;
	padding:0px;
}
p{
	padding:10px;
	margin:20px;
	text-align:left;
	color:#3F3;
}
a{
	color:#C03;
	text-decoration:none;
}
a:hover{
	color: #cb7d20;
	border-bottom: 1px dashed #cb7d20;
}
li{
	list-style-type:none;
}
input[type="text"]{
	width:200px;
	display:block;
	margin-bottom:10px;
	background-color:white;
}
textarea{
	width:200px;
	display:block;
	margin-bottom:10px;
	background-color:white;
}
/*.slider{
}      Need to figure out how to move the whole slider bar to center */
li{
	text-align:center;
}
background{
	color:#999
}
